<div x-data="name" x-effect="fetcher">
	<strong x-text="`This is ` + name"></strong>
	<hr />
	<a href="/basic/foo">Menu Foo</a><br />
	<a href="/basic/bar">Menu Bar</a><br />
	<a href="/basic/baz">Menu Baz</a><br />
</div>

<script>
	Alpine.data('name', () => ({
		loading: true,
		name: Alpine.$persist(''),
		async fetcher() {
			try {
				const response = await fetch(`/views/${this.$params.slugName}.json`);
				const data = await response.json();
				this.name = data.name;
			} catch (error) {
				console.error('Fetch error:', error);
			} finally {
				this.loading = false;
			}
		},
	}));
</script>
